#canvas-container {
  padding-top: 10px;
  padding-bottom: 10px
}


canvas{
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.control {
  text-align: center;
}

.bordered {
  border-color: gray;
  border-left: 2px!important;
  border-right: 2px!important;
  border-bottom: 2px!important;
  border-radius: 5px;
}
